@font-face {font-family: 'Conv_Roboto-Regular';src: url('../font/Roboto-Regular.eot');src: url('../font/Roboto-Regular.woff') format('woff'), url('../font/Roboto-Regular.ttf') format('truetype'), url('../font/Roboto-Regular.svg') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Conv_Roboto-Thin';src: url('../font/Roboto-Thin.eot');src: url('../font/Roboto-Thin.woff') format('woff'), url('../font/Roboto-Thin.ttf') format('truetype'), url('../font/Roboto-Thin.svg') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Conv_Roboto-Light';src: url('../font/Roboto-Light.eot');src: url('../font/Roboto-Light.woff') format('woff'), url('../font/Roboto-Light.ttf') format('truetype'), url('../font/Roboto-Light.svg') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Conv_Roboto-Medium';src: url('../font/Roboto-Medium.eot');src: url('../font/Roboto-Medium.woff') format('woff'), url('../font/Roboto-Medium.ttf') format('truetype'), url('../font/Roboto-Medium.svg') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Conv_Roboto-Black';src: url('../font/Roboto-Black.eot');src: url('../font/Roboto-Black.woff') format('woff'), url('../font/Roboto-Black.ttf') format('truetype'), url('../font/Roboto-Black.svg') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Conv_Roboto-BoldItalic';src: url('../font/Roboto-BoldItalic.eot');src: url('../font/Roboto-BoldItalic.woff') format('woff'), url('../font/Roboto-BoldItalic.ttf') format('truetype'), url('../font/Roboto-BoldItalic.svg') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Conv_Roboto-Bold';src: url('../font/Roboto-Bold.eot');src: url('../font/Roboto-Bold.woff') format('woff'), url('../font/Roboto-Bold.ttf') format('truetype'), url('../font/Roboto-Bold.svg') format('svg');font-weight: normal;font-style: normal;}

/*general styele */
*{margin: 0px;padding: 0px;box-sizing: border-box;}
body{font-family: 'Conv_Roboto-Regular';font-size: 14px;}
img{max-width: 100%;}
a{transition: 0.3s;-webkit-transition: 0.3s;-moz-transition: 0.3s;-ms-transition: 0.3s;}
a:hover, a:focus{text-decoration: none;color: #ffffff;}


/*Alerts*/
.alert {border-radius: 0;-webkit-border-radius: 0;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);}
.alert .sign {font-size: 20px;vertical-align: middle;margin-right: 5px;text-align: center;width: 25px;display: inline-block;}
.alert-success {background-color: #DBF6D3;border-color: #AED4A5;color: #569745;}
.alert-info {background-color: #D9EDF7;border-color: #98cce6;color: #3A87AD;}
.alert-warning {background-color: #FCF8E3;border-color: #F1DAAB;color: #C09853;}
.alert-danger {background-color: #F2DEDE;border-color: #e0b1b8;color: #B94A48;}
.alert-white {background-image: linear-gradient(to bottom, #ffffff, #f9f9f9);border-top-color: #d8d8d8;border-bottom-color: #bdbdbd;border-left-color: #cacaca;border-right-color: #cacaca;color: #404040;adding-left: 61px;position: relative;}
.alert-white .icon {text-align: center;width: 45px;height: 103%;position: absolute;top: -1px;left: -1px;border: 1px solid #BDBDBD;padding-top: 15px;}
.alert-white .icon:after {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);display: block;content: '';width: 10px;height: 10px;border: 1px solid #BDBDBD;position: absolute;border-left: 0;border-bottom: 0;top: 50%;right: -6px;margin-top: -3px;background: #fff;}
.alert-white.rounded {border-radius: 3px;-webkit-border-radius: 3px;padding-left: 55px;}
.alert-white.rounded .icon {border-radius: 3px 0 0 3px;-webkit-border-radius: 3px 0 0 3px;}
.alert-white .icon i {font-size: 20px;color: #FFF;left: 12px;margin-top: -10px;position: absolute;top: 50%;}
.alert-white.alert-danger .icon, .alert-white.alert-danger .icon:after {border-color: #ca452e;background: #da4932;}
.alert-white.alert-info .icon, .alert-white.alert-info .icon:after {border-color: #3A8ACE;background: #4D90FD;}
.alert-white.alert-warning .icon, .alert-white.alert-warning .icon:after {border-color: #D68000;background: #FC9700;}
.alert-white.alert-success .icon, .alert-white.alert-success .icon:after {border-color: #54A754;background: #60C060;} 
/* Arert End*/


form .error {
  color: #ff0000;
}
.home_div .panel{background: none; box-shadow: none; display: inline-block; width: 100%; margin: 0px !important; border: none;}
.home_div h5, .home_div h5 a.bg.bg-primary{margin: 0px;}
.home_div .card-header{margin: 8px 0; display: inline-block; width: 100%;}  
.home_div .progress {
    background-color: #999999;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    float: right;
    height: 20px;
    margin-bottom: 0 !important;
    overflow: hidden;
    width: 9% !important;
}
.panel-body span {
    background-color: #9d261d;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    text-transform: uppercase;
}
.home_div .panel-body{margin: 0px;}
.home_div .panel-body label {
    background-color: #468847;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 12px;
    margin-left: 5px;
    padding: 2px 10px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.home_div .progress-bar {
    background-color: #337ab7;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
    margin-top: 0px !important;
}
.home_div .progress-bar-success {
    background-color: #5cb85c;
}

.container-box {
  background-color: #dcd8d8;
  float: left;
  border-radius: 5px;
  width: 100%;
  margin-top: 25px;
}
.container-box .col-md-12 {
  padding: 0;
}
a:hover, a:focus{
  text-decoration: none;
}
.logo {
  height: 65px;
}
.center-block {
  margin-top: 3%;
  padding-top: 25px;
  background-color: #fff;
  border-radius: 5px;
}
.bg-primary {
  background-color: #0c0d92 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  color: #ffffff;
  padding-left: 12px;
  padding: 10px;
}
a.bg.bg-primary {
  border-radius: 6px;
  padding-left: 9px;
  width: 100%;
  float: left;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
}
.bg-primary span {
  font-size: 20px;
}
.expire-date {
  background-color: #9d261d;
  border-radius: 3px;
  padding: 1px 5px;
  color: #fff;
  font-size: 10px;
}
.content {
  padding-left: 9px;
  color: #000000;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.content:hover{
  background-color: #fff;
}
.progress-bar {
  width: 100px;
  color: #000;
  background-color: #999999;
  float: right;
  border-radius: 5px;
  height: 15px;
  margin-top: 10px;
}
.info-loader
{
  float: right;
}
.search-panel input {
  border-radius: 28px;
  font-size: 13px;
  width: 40%;
  float: left;
  height: 30px;
  padding: 5px 5px 5px 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.search-panel .content-btn{float: right;}
.search-panel .content-btn > .dropdown{margin-right: 10px; }
.search-panel .dropdown ul.dropdown-menu{ margin-left: 0; margin-top: 0px;}



.side-content-text a i {
  padding-right: 10px;
}
.side-content-text  p {
  font-size: 14px;
  padding-left: 25px;
  line-height: 1.5;
}
#dropdownMenu2 {
  background-color: #fff;
  float: right;
}

.dropdown-menu {
  float: right !important;
  margin-left: 78%;
  margin-top: 40px;
}

.menubar {
  background-color: #000;
}
.menubar-logo {
  float: left;
}
.menubar-right {
  float: right;
  list-style: none;
  display: inline-flex;
}
.menubar-right .dropdown .dropdown-toggle {
  color: #fff;
}
.menubar-right .dropdown li a i {
  color: #c3c3c3;
  float: left;
  font-size: 20px;
  margin: 10px;
}
.menubar-text li i {
  font-size: 20px;
  color: #fff;
  float: right;
  margin-left: 10px;
}

.menubar-text li input {
  float: right;
  height: 30px;
  margin-left: 10px;
}
.menubar-text{
  float: right;
  margin-top: 15px;
}
/********************login page*********************/
.form-btn .login-btn {
  background-color: #4311ae;
  border-color: #4311ae;
  border-radius: 5px;
  color: #fff;
  padding: 7px 16px;
  font-size: 20px;
}
.tl-forgot-link a {
  color: #969696;
}
.form-group {
  width: 400px;
  margin-left: 5% !important;
}
.form-input label {
  float: left;
}
#tl-change-to-username {
  float: right;
}
.form-input {
  width: 100%;
  line-height: 40px;
}
.social {
  margin-left: 5%;
  padding: 15px;
}
.form-content{
  border-bottom: 1px solid #dfdfdf;
}
.form-btn {
  margin-bottom: 20px;
  margin-top: 20px;
}
.form-group.checkbox {
  margin-top: 15px !important;
}

/*************************calendar*******************/
.fc-day-header.fc-widget-header {
  background-color: #048AC2 !important;
  padding: 10px;
  color: #fff;
}
.fc-view-container {
  padding: 10px;
}

/****************courses****************/

.course-tab {
  padding-left: 5px;
}
.course-tab a {
  font-weight: bold;
  font-size: 18px;
}
.table-icon i{
  columns: #000;
  font-size:20px;
}
.table-header{
  background-color: #EEEEEA;
}
.table-row{
  background-color: #fff;
}
#example {
  padding-right: 5px;
  padding-left: 5px;
}
.table-row td {
  font-size: 12px;
}
.courses-footer i {
  font-size: 35px;
  float: right;
  margin-right: 10px;
}
/******************* catalog des****************************/
.catalog-text h4 {
  background-color: #f4f4f4 !important;
  border-radius: 5px;
  padding: 5px;
}

.page-height{
    min-height: 450px !important;
}


.listcoursecatalog{line-height: 25px;}
.listcoursecatalog .catalog-left{ min-width: 100px;}
.listcoursecatalog .catalog-left img{width: 100%;}
.listcoursecatalog .catalog-right span a{color: #333; font-weight: 600;}
.listcoursecatalog .catalog-right .catalog-title a{font-size: 12px; color: #333;}
.listcoursecatalog .catalog-right .catalog-desc a{color: #333; font-size: 13px; line-height: 24px;}
.catalog_description_main .container-box .catalog-text .catalog-desc p{color: #333; font-size: 13px; line-height: 22px;}
.catalog_description_main .catalog-text  a p{font-weight: normal;}
.catalog_description_main .catalog-text  a{ padding: 5px 0; font-size: 13px; font-weight: bold; color: #333; display: inline-block;}
.catalog_description_main .catalog-text i{color: #999; font-size: 14px;margin-right: 5px;}
.catalog_description_main  .catalog_description_left img{margin-bottom: 20px; width: 100%; margin-top: 20px;}
.catalog_description_main{ margin-bottom: 50px !important;}
.catalog_description_main .container-box{padding-bottom: 20px;}


.btn-small {
    background-color: #0a7a0c;
    background-image: linear-gradient(to bottom, #0c8d0e, #085e09);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    font-size: 12px;
}
.btn-large {
  background-color: #2513ae;
    background-image: linear-gradient(to bottom, #1114ae, #4311ae);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 6px 12px; 
    font-size: 16px;  
    margin-bottom: 20px;
}
.btn-large:hover{color: #fff;}
.btn-small:hover{color: #fff; background: #085e09;}
.catalog_right_menu .catalog_menu_title{padding: 10px 0 3px 0px;}
.catalog_right_menu .catalog_menu_title a{   font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #333;
}
.catalog_menu_list ul{padding-left: 10px;}
.catalog_menu_list ul  label{font-weight: normal; font-size: 13px;}
.catalog_menu_list ul input[type="radio"], .catalog_menu_list ul input[type="checkbox"]{position: relative; top: 3px; margin-right: 5px; }
.catalog_menu_list ul label i{margin-right: 5px;}
.catalog_menu_list ul label a{color: #333;}

.social_link a{ font-size: 30px; margin-left: 5px;}
.social_link a.fb{color: #3B5998;}
.social_link a.gplus{color: #DC4A38;}
.social_link a.in{color: #0077B5;}
.social_link a:hover{opacity: 0.8;}
.social_link h4{font-size: 14px; line-height: 18px; font-weight: bold; float: left; margin: 11px 0 0 0; }
.signup_inr .signup_inr_left{ float: left; padding-top: 5px; text-align: right; padding-right: 5px; margin-right: 15px; width: 190px;}
.signup_inr .signup_inr_left label{font-size: 13px; line-height: 18px;}
.signup_inr .signup_inr_right input, .signup_inr .signup_inr_right select{  
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 0px;
    padding: 4px 6px;
    vertical-align: middle;
    width: 220px;
}
.signup_inr{margin-bottom: 12px;}
.border_top{background: #fff; width: 100%; height: 2px; margin: 10px 0;}
.signup_action{margin-top: 30px; padding: 20px 0 20px 205px; background: #fff;}
.signup_action input[type="submit"].btn-primary{ 
    background-color: #2513ae;
    background-image: linear-gradient(to bottom, #1114ae, #4311ae);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 4px 10px; font-size: 13px;
}
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th{background: #fff;}
.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th{background: #f5f5f5;}


.signup-popup .social_link, .login-popup .social_link  {text-align: center;}
.signup-popup .social_link h4, .login-popup .social_link h4{ float: none; margin: 0px; position: relative; top: -5px;}
.signup-popup .border_top, .login-popup .border_top{background: #eeeeee; height: 1px;}
.login-popup form{ padding-top: 20px; }
.login-popup .signup_action{margin-top: 0px; padding: 5px 0 15px 205px;}

.search-panel{width:100%; display:inline-block;}
.grid_box{width:100%;}
.grid_box_inr{background: #fff; padding: 10px; border-radius: 5px; text-align: center; margin-bottom: 30px;}
.grid_box .panel-body{padding: 15px 5px;}
.grid_box .panel-body span{width: 100%; display: inline-block;}
.grid_box_inr .grid_img_box img{width: 100%; max-height: 100px;}
.menubar-text .dropdown-menu{margin-left: -5px; margin-top: 0px;}
.menubar-text .menubar-right .dropdown li a i{margin: 0 10px 10px;}
div.logo{margin-top: 30px;}
.forgot_pwd input[type="text"], .center-block .form-group .form-input input.form-input{background: #fff; border:1px solid #ccc; border-radius: 4px; padding: 0px 10px; }
.center-block .form-group .form-input input.form-input:focus{   
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;  
}



.main_login.center-block .form-group .form-input label{line-height: 20px; padding-top:15px;}
.main_login.center-block .form-group .tl-forgot-link a{ line-height: 20px; padding-top: 15px;}
.main_login. form-content .form-btn .login-btn{font-size: 16px; padding: 5px 16px;}
.main_login .form-content .form-group .checkbox label input[type = "checkbox"]{margin-top: 2px; }
.main_login .social.social_link p label{position: relative; top: -6px;}
.main_login.center-block .form-group{margin-left: 15px !important;} 

.forgot_pwd{display: table; width: 100%; padding-bottom: 30px; max-width: 950px; margin:  30px auto 0;}
.forgot_pwd input[type="text"]{height: 40px; width: 100%; max-width: 400px;}
.forgot_pwd .input{margin-bottom: 20px;}
.forgot_pwd .form-group{margin-left: 15px !important; width: auto;}
.forgot_pwd button.btn-primary {background-color: #2513ae; background-image: linear-gradient(to bottom, #1114ae, #4311ae);}
.login-popup .help-mandatory{padding-left: 4px;}
.login-popup .help-mandatory i{color: #333;}


/*header menu */
.navbar-default .navbar-nav > li > a{border-bottom: 1px solid #2e334b;color: #ffffff;padding: 40px 13px 30px;white-space: nowrap;}
.navbar-default .navbar-nav > li > .header-image-logo{padding: 12px 0px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover , .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background-color: #1c1d2d;color: #ff3128;border-bottom: 1px solid #ff3128;}
.navbar-nav a {text-transform: uppercase;font-size: 17px;font-family: 'Conv_Roboto-Medium';}
.navbar-default {background-color: transparent;border: none;border-radius: 0px;margin-bottom: 0px;}
.navbar .navbar-collapse{background-color: #2e334b;padding: 0px;}
/*.navbar .navbar-collapse img{width: 165px;}*/
.content-header {background-image: url(../images/innerpage-bg.jpg);background-size: cover;padding-bottom: 30px;}

/*header content home */
.header_title {font-size: 82px;font-family: 'Conv_Roboto-Thin';text-transform: uppercase;color: #fff;line-height: 78px;margin-top: 100px;}
.header_title span:last-child {font-family: 'Conv_Roboto-Black';}
.home-header-content , .aviation-content, .online-approve{width: 800px;margin: 0 auto;}
.home-header-content {margin: 0 auto;text-align: center;}
.head_description {font-size: 26px;color: #fff;margin-top: 140px;}
.header_menu{position: relative;}
.header_menu::before, .header_menu::after{content: '';position: absolute;height: 0;width: 0;border-style: solid;border-width: 0;top: 0;}
.header_menu::before {left: -50px;border-color: transparent #2e334b;border-width: 0px 50px 90px 0;}
.header_menu::after {right: -50px;border-color: #2e334b transparent;	border-width: 90px 50px 0px 0;}
/*.header_menu ul{display: flex;}
.header_menu ul li{display: inline-flex;}*/
.find-more {background-color: #ff3128;color: #fff;padding: 4px 20px;font-size: 26px;font-family: 'Conv_Roboto-BoldItalic';position: relative;transition: 0.0s;-webkit-transition: 0.0s;-moz-transition: 0.0s;-ms-transition: 0.0s;}
.find-more::before, .find-more::after{	content: '';position: absolute;height: 0;width: 0;border-style: solid;border-width: 0;border-width: 45px 10px 0 0;top: 0;}
.find-more::before{left: -10px;border-color: transparent #ff3128;}
.find-more::after{right: -10px;border-color: #ff3128 transparent;}
.find-more {margin: 80px 0px 70px;display: inline-block;text-transform: uppercase;}
.find-more:hover , .candidates .client-content .find-more:hover{background-color: #2e334b;color: #fff;}
.find-more:hover::before , .candidates .client-content .find-more:hover::before{border-color: transparent #2e334b;} 
.find-more:hover::after , .candidates .client-content .find-more:hover::after{border-color: #2e334b transparent;}
.aviation-logo-text {font-family: 'Conv_Roboto-Bold';text-transform: uppercase;color: #5f68e7;word-spacing: -10px;}
.aviation-logo-text span:nth-child(2) {color: #fff;}
.aviation-logo-text + span {color: #fff;text-transform: uppercase;letter-spacing: 5px;}
.header-bottom {text-align: center;}
.logo-content {position: relative;}
.logo-content-inner {position: absolute;top: 0;right: 0;left: 0;}
.logo-content-inner a{display: inline-block;}
.aviation-logo-text span {line-height: 45px;display: inline-block;font-size: 43px;}
.logo-content img {opacity: 0.36;}
.head-contact{color: #ffffff;font-size: 22px;display: inline-block;margin-top: 10px;}
.head-contact i {margin-right: 10px;font-size: 30px;}
/* aviation content */
.aviation-technical {padding: 60px 0px 90px;}
.aviation-content {margin: 0 auto;text-align: center;}
.aviation-head {text-transform: uppercase;}
.aviation-head span {font-size: 18px;}
.aviation-head h2 {color: #423f9f;font-family: 'Conv_Roboto-Light';margin-top: 10px;font-size: 34px;}
.top-big {font-size: 26px;margin-top: 45px;margin-bottom: 40px;}
.aviation-bottom {font-size: 20px;}
.aviation-bottom p {margin-bottom: 20px;}
/* online training */
.online-training {background-image: url(../images/online-training-bg.png);padding: 70px 0px;text-align: center;background-size: cover;}
.content-title {font-size: 40px;text-transform: uppercase;color: #10249a;font-family: 'Conv_Roboto-Bold';margin: 0px;}
.training-categories h3 {font-size: 20px;color: #10249a;margin-bottom: 20px;margin-top: 23px;text-transform: uppercase;}
.training-categories img {border: 2px solid #10249a;border-radius: 100%;padding: 28px;}
.training-categories p {font-size: 15px;color: #5d5d5d;}
.online-approve {color: #393867;font-size: 20px;margin-top: 60px;}
.online-training .find-more{margin-top: 60px;margin-bottom: 0px;}
/* client candidates content */
.client-area {background-image: url(../images/client-area-bg.png);background-size: cover;}
.candidates {background-image: url(../images/candidates-bg.png);background-size: cover;}
.client-candidates {color: #ffffff;}
.client-area .client-content, .candidates .client-content{width: 300px;margin-top: 160px;}
.client-area .client-content {float: right;margin-right: 60px;}
.candidates .client-content {margin-left: 190px;}
.client-content h3 {font-family: 'Conv_Roboto-Bold';margin-top: 5px;font-size: 30px;margin-bottom: 20px;}
.client-content .find-more {margin-top: 40px;margin-bottom: 85px;font-size: 18px;}
.client-content .find-more::before, .client-content .find-more::after{border-width: 33px 10px 0 0;}
.candidates .client-content .find-more {background-color: #3c36e9;}
.candidates .client-content .find-more::before{border-color: transparent #3c36e9;}
.candidates .client-content .find-more::after{border-color: #3c36e9 transparent;}
/* latest news content */
.latest-news .container{padding: 0px;}
.latest-news-title {text-transform: uppercase;}
.latest-news-title span {font-size: 18px;}
.latest-news-title h3 {font-size: 34px;color: #ff3128;font-family: 'Conv_Roboto-Light';margin-top: 0px;margin-bottom: 50px;}
.latest-news {padding: 60px 0px 130px;}
.latest-content h3 {margin-top: 20px;text-transform: uppercase;margin-bottom: 20px;font-family: 'Conv_Roboto-Medium';font-size: 22px;}
.submit-cv-form h3 {color: #2f2c85;text-transform: uppercase;font-size: 34px;font-family: 'Conv_Roboto-Light';}
.submit-cv-form input, .submit-cv-form textarea, .video-search input, .submit-cv-form select{width: 100%;margin-bottom: 15px;border-radius: 0px;border: 1px solid #a7a7a7;padding: 5px;background-color: #f3f3f3;box-shadow: inset 0px 2px 2px 1px rgba(47, 44, 133, 0.3);}
.submit-cv-form input.error{margin-bottom:0px;}
.submit-cv-form label {text-transform: uppercase;font-weight: normal;}
.submit-cv-form label sup {color: #f00;font-size: 16px;}
.submit-cv-form form {margin-top: 50px;}
.submit-cv-form .input-group {margin-bottom: 15px;}
.submit-cv-form .btn.btn-primary {background-color: #2f2c85;border-radius: 0px;text-transform: none;}
.submit-cv-form .input-group input {text-overflow: ellipsis;}
.fileUpload {position: relative;overflow: hidden;margin: 0px 0px 10px;}
.fileUpload input.upload {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);}
.button .find-more {margin: 0px;font-size: 14px;border: none;left: 10px;text-transform: uppercase;padding: 8px 40px 6px;}
.outer-popup .modal-form .button .find-more {padding: 8px 0px 7px;}
.loginmodal-popup.outer-popup {background-color: #fff;padding: 15px;border-radius: 3px;margin-top: 30px;}
.button .find-more::before, .button .find-more::after {border-width: 34px 10px 0 0;}
.read-more {padding: 8px 50px;border-left-width: 2px;background-image: url(../images/border-button.png);background-size: 100% 100%;font-family: 'Conv_Roboto-BoldItalic';text-transform: uppercase;color: #ff3128;margin-top: 10px;display: inline-block;}
.read-more:hover , .read-more:focus{background-image: url(../images/border-button-hover.png);color: #ffffff;}
/*footer style */
footer {background-color: #1e3d6d;color: #fff;padding: 15px 0px;border-bottom: 2px solid #ff2a2a;}
.social-footer{float: left;margin: 0px;}
.copyright-text{float: right;margin-top: 15px;}
.social-footer li {float: left;list-style: none;margin-right: 5px;}
.social-footer li a i{color: #fff;height: 50px;width: 50px;display: inline-block;border: 2px solid #fff;border-radius: 100%;text-align: center;font-size: 28px;padding-top: 9px;transition: 0.5s;-webkit-transition: 0.5s;-ms-transition: 0.5s;}
.fa.fa-facebook:hover {background-color: #3B5999;}
.fa.fa-twitter:hover {background-color: #00ABF1;}
.fa.fa-instagram:hover {background-color: #4A3D37;}
.fa.fa-linkedin:hover {background-color: #007BB6;}
.fa.fa-youtube:hover {background-color: #CF2200;}
/* training page */
.video-player{text-transform: uppercase;margin-top: 40px;}
.player-display {width: 80%;float: left;padding: 12px;box-sizing: border-box;background-color: #000000;}
.player-controls {background-color: rgba(0,0,0,0.5);padding: 10px 15px;float: left;width: 100%;}
.video-list {width: 20%;float: left;background-color: #fff;}
.display-content-outer{/*background-image: url(../images/player-bg.png);background-size: cover;*/background-color: #fff;}
.display-content {background-color: rgba(255,255,255,0.9);text-align: center;padding: 10px;}
.display-content > p {color: #13131b;font-size: 36px;margin-top: 50px;margin-bottom: 35px;}
.display-content p span {display: block;}
.display-head {font-family: 'Conv_Roboto-Bold';font-size: 60px;display: block;margin-top: 30px;color: #4741ea;}
.site-logo {float: right;background-color: #848c93;}
.video-search {padding: 12px;}
.video-search input {margin-bottom: 0px;}
.video-lists ul{margin-bottom: 0px;}
.video-lists ul li {list-style: none;float: left;width: 100%;/*padding: 5px;*/text-transform: none;border-bottom: 1px solid #fff;}
.video-lists ul li a{color: #6d6d6d;padding: 5px;display: inline-block;width: 100%;}
.video-lists li.active a, .video-lists li:hover a{color: #ffffff;}
.video-thumb {float: left;width: 80px;height: 47px;background-color: #898989;margin-right: 5px;text-align: center;}
.video-thumb img {max-height: 100%;}
.video-lists li.active , .video-lists li:hover{background-color: #3c3f75;color: #ffffff;}
.video-lists {height: 468px;overflow: scroll;overflow-x: hidden;overflow-y: auto;}
/* login modal */
#loginModal .modal-header {border-bottom: none;padding-bottom: 0px;padding-top: 5px;}
.modal-body h3 {color: #2f2c85;font-family: 'Conv_Roboto-Bold';font-size: 30px;text-align: center;margin-top: 0px;}
.modal-body {padding-top: 0px;}
.modal-text span {color: #ff3128;font-size: 25px;float: left;margin-top: 7px;}
.modal-social.social-footer {float: right;}
.modal-social.social-footer li a i {color: #ff3128;border-color: #ff3128;height: 45px;width: 45px;font-size: 24px;}
.modal-social.social-footer li a:hover i{color: #fff;}
.modal-form label {float: left;margin-top: 8px;}
.modal-form label.error{font-size:12px;text-transform:none;margin:5px 0px 10px 0px;}
.loginmodal-popup {width: 470px;margin: 0 auto;}
#loginModal .modal-dialog .modal-content, #registerModal .modal-dialog .modal-content{padding-bottom: 30px;}
.outer-popup .modal-form .button {margin: 0px;}
.outer-popup {padding: 0px 15px;}
.outer-popup .modal-form .find-more {margin: 15px 0px;}
.modal-form input {/*float: right;width: 75%;*/}
.modal-form {margin-top: 25px;}
.modal-form .button {text-align: center;margin-bottom: 50px;margin-top: 5px;}
.modal-form .find-more {padding: 8px 0px 6px;font-size: 18px;width: 180px;text-align: center;margin: 0;}
.modal-form .find-more::before, .modal-form .find-more::after{border-width: 40px 10px 0 0;}
.menubar-right li:first-child {margin-right: 20px;}
.menubar-text .menubar-right li i {margin-left: 5px;}
.page-link {color: #ff3128;}
.page-link:hover {color: #ff0000;}
.slide-controllers {font-size: 20px;color: #fff;}
.slide-controllers .controllers-left, .slide-controllers .controllers-right {float: left;}
.slide-controllers span {margin-left: 10px;cursor: pointer;}
#audio-player audio {width: 100%;}
.mCSB_dragger_bar{background-color: #f92a2b !important;}
.about_section{padding-bottom: 0px;}
.bg_img{ position: absolute; top: 0px;  min-height: 324px;}
.bg_img img{min-height: 324px;}
.content-header {position: relative; }
.page_title{position: relative; text-align: center; margin-top: 50px; }
.page_title h1{font-size: 45px; color: #fff; font-family: 'Conv_Roboto-Bold'; text-transform: uppercase;}
h2.title2{font-size: 34px; color: #423f9f; font-family: 'Conv_Roboto-Black'; text-transform: uppercase;}
.about-bottom{ font-size:20px; color: #5d5d5d;}
.about-bottom span{font-family: 'Conv_Roboto-Bold';}
.about_section h2.title2{padding-top: 45px;}
.about_section a.find-more{ width: 100%; max-width: 337px;  height: 56px;}
.about_section .find-more:before, .about_section .find-more:after{ border-width: 56px 10px 0 0; }
.about_section .find-more{padding: 10px 20px; margin-bottom: 0px;}
/*client area page */
.online-category-1 .aria-content {width: 20%;float: left;padding: 0px 15px;box-sizing: border-box;}
.client-area-page .client-content {width: 360px;}
.client-area-page .candidates {background-color: #ececec;background-image: none;color: #404040;}
.client-area-page .submit-cv-form label {width: 25%;float: left;}
.client-area-page .submit-cv-form input, .submit-cv-form textarea {width: 75%;}
.client-area-page .submit-cv-form .button{margin-bottom: 15px;}
.client-candidates.client-area-page {margin-top: 40px;}
.client-area-page .submit-cv-form {max-width: 600px;}
/* ron css start */

h2.title3{font-size: 34px;color: #423f9f;font-family: 'Conv_Roboto-Black';text-align: center;}
.online-category-1{margin-top: 97px;text-align: center;}
.title_1{color: #423f9f;font-size: 20px;}
.title_2{/*font-size: 12px;*/font-size: 15px;color: #5d5d5d;}
.find-more_1 {height: 57px;max-width: 337px;width: 100%;background-color: #ff3128;color: #fff;padding: 10px 20px;font-size: 26px;font-family: 'Conv_Roboto-BoldItalic';position: relative;transition: 0.0s;-webkit-transition: 0.0s;-moz-transition: 0.0s;-ms-transition: 0.0s;}
.find-more_1::before, .find-more_1::after{  content: '';position: absolute;height: 0;width: 0;border-style: solid;border-width: 0;border-width: 57px 10px 0 0;top: 0;}
.find-more_1::before{left: -10px;border-color: transparent #ff3128;}
.find-more_1::after{right: -10px;border-color: #ff3128 transparent;}
.find-more_1 {margin: 80px 0px 70px;display: inline-block;text-transform: uppercase;}
.find-more_1:hover , .candidates .client-content .find-more:hover{background-color: #2e334b;color: #fff;}
.find-more_1:hover::before , .candidates .client-content .find-more:hover::before{border-color: transparent #2e334b;} 
.find-more_1:hover::after , .candidates .client-content .find-more:hover::after{border-color: #2e334b transparent;}
/* ron css end */



/*candidate page css start*/

    .candidates_section{margin-top: 200px;}
    .candidates_section .col-sm-4 .candidates_section_inr{border: 1px solid #5f69e8; margin: 0 -15px; border-radius: 4px; display: inline-block;}
    .candidates_section .col-sm-4 .candidates_section_inr2{ border:none; }
    .candidate_top{display:table-cell;  width: 900px; height: 195px; vertical-align: middle; text-align: center; overflow: hidden;}
    .candidate_top_inr{margin:0 auto;}
    .candidate_top h3{color: #fff; font-size: 30px; text-transform: uppercase; margin-top: 10px; }
    .candidate_top.cand_bg2 h3{color: #2f2c85; font-size: 34px; font-weight: lighter; text-transform: uppercase; margin-top: 10px; font-family: 'Conv_Roboto-Light';}
    .candidate_top.cand_bg1{ background: url(../images/cand_img1.png) no-repeat; background-size: cover; }
    .candidate_top.cand_bg1{position: relative;}
    .candidate_top.cand_bg3{ background: url(../images/cand_img3.png) no-repeat; background-size: cover; }
    .cand_mdl_top{position: absolute; top: -50px; left: 0; right: 0; margin: 0 auto; text-align: center;}
    .candidate_btm_inr{text-align: center; margin: 30px auto 0; max-width: 300px;}
    .candidate_btm_inr > div{margin-bottom: 20px;}
    .candidate_btm_inr h4{font-size: 13px; color: #2521a5; text-transform: uppercase;}
    .candidate_btm_inr img{max-width: 95px;}
    .candidate_btm_inr span{font-size: 16px; color: #3e3e3e;}
    .licensed_content{padding:35px; color: #5d5d5d; line-height: 25px;}
    .licensed_content h4{font-size: 20px; font-family: 'Conv_Roboto-Medium'; color: #ff3128; margin-top: 0px; margin-bottom: 20px;}
    .carrier_form{padding: 0 30px;}
    .carrier_form label{width: 100%; color: #404040; font-size: 14px; text-transform: uppercase; font-weight: normal; margin: 10px 0 0;}
    .carrier_form label span{font-size: 16px; color: #ff3128;}
    .carrier_form input, .carrier_form textarea{width: 100%;}
    .carrier_form input{height: 40px; border: 1px solid #a7a7a7; box-shadow: 0 0 10px 2px #2f2c85; background: #fff; border-radius: 0px;}
    .carrier{padding: 0 30px;}
    .carrier form{margin-top: -15px;}
    .carrier input{height: 40px;}
    .carrier label span{padding: 9px 12px;}
    .carrier textarea{width: 100%;}
    .candidates_section .button{width: 100%; display: inline-block;}
    .candidates_section .button button{font-size: 26px;  width: 94%; margin: 50px 0;}

    .candidates_section .button button.find-more2{color: #fff; background: #2f2c85;}
    .candidates_section .button .find-more.find-more2:before{border-color:transparent #2f2c85; border-width: 51px 10px 0 0;}
     .candidates_section .button .find-more.find-more2:after{border-color: #2f2c85 transparent; border-width: 51px 10px 0 0;}
    .candidates_section .button .find-more:before, .candidates_section .button .find-more:after{ border-width: 52px 10px 0 0;}


    @media(min-width: 768px) and (max-width: 991px) {
    .candidate_top h3{font-size: 24px;}
    .candidate_top.cand_bg2 h3{font-size: 24px;}
    .licensed_content{padding: 20px 15px;}
    .carrier{padding: 0 10px;}
    .candidates_section .button button{font-size: 16px;}

    .candidates_section .button .find-more.find-more2:before{border-width: 37px 10px 0 0;}
     .candidates_section .button .find-more.find-more2:after{ border-width: 37px 10px 0 0;}
    .candidates_section .button .find-more:before, .candidates_section .button .find-more:after{ border-width: 37px 10px 0 0;}
    .licensed_content h4{font-size: 16px;}
    .licensed_content{line-height: 18px;}
    .candidate_btm_inr span{font-size: 14px;}
    .candidate_btm_inr img{max-width: 88px;}
    }
    @media(max-width: 768px){
    .candidates_section{margin-top: 100px;}
    .candidates_section .col-sm-4 .candidates_section_inr{margin: 0px; width: 100%;}
    .button.button1{margin-bottom: 100px;}
    }

    @media(max-width: 520px){
        .carrier{padding: 0px;}
        .licensed_content{padding: 30px 20px;}
    }

/*candidate page css end*/



/*job page css start*/
    .b1-licensed{border: 2px solid blue;border-radius: 4px;padding: 30px;margin-bottom: 50px;}
    .b1-licensed h3{color: red;}
    .per-hour{color: green;font-weight: bold;float: right;}
    .licensed-ctgy{margin-left: 30px;padding-top: 25px;}
    .submit-cv-bg .client-area{background-image: url(../images/candidates-bg.png);text-align: right;}
    .submit-cv-bg .client-content h3 {font-family: 'Conv_Roboto-Bold';margin-top: 5px;font-size: 24px;margin-bottom: 20px;margin-right: 25px;}
    #jobs .input-group{width: 75%;}
    #jobs .input-group span{width: 100%;}
    .submit-cv-bg span{padding: 5px 12px;}
    @media only screen and (max-width: 980px){
      .b1-licensed{margin-left: 20px;margin-right: 20px;}
    }
    @media only screen and (max-width: 768px){
      .b1-licensed h3{font-size: 22px;}
      #jobs .title3{margin-top: 0;}
      .b1-licensed{padding: 15px;margin-bottom: 50px;}
      #jobs .aviation-technical, .latest-news{padding: 30px 0px 10px 0px;}
      .abouts_page .aviation-technical{padding: 20px 0px 15px;}
      .about_section h2.title2{padding-top: 0px;}
      #homepage .aviation-technical{padding: 20px 0px 40px;}
      #homepage h2.title2{font-size: 29px;margin-bottom: 30px;}
      #homepage .top-big{margin-top: 20px;}
      #homepage .find-more{margin: 50px 0px 0px;}
      .client_area_page .aviation-technical{padding: 30px 0px 0px;}
      .client_area_page h2.title3{margin-top: 0px;font-size: 32px;}
      .client_area_page .online-category-1{margin-top: 60px;}
      .client_area_page .top-big{margin-top: 20px;}
      .client_area_page .client-candidates.client-area-page{margin-top: 20px;}
      .contact_us_page .aviation-technical{padding: 30px 10px 0px;}
      .contact_us_page .top-big{font-size: 23px;margin: 20px 0;}
      .services_page .aviation-technical{padding: 30px 0px 0px;}
      .services_page .top-big{font-size: 26px;margin-top: 20px;margin-bottom: 20px;}
      .services_page h2.title3{margin-top: 0px;}
      .services_page .online-category-1{margin-top: 50px;}
      .services_page .find-more_1{margin: 35px 0px 30px;}
      .training_page .online-training.training_main{padding: 30px 0px;}
      .training_page .training_main .top-big{margin: 0 auto 50px;}

    }
    @media only screen and (max-width: 580px){
      #jobs h2.title3{font-size: 28px;}
      #jobs .b1-licensed h3{font-size: 17px;margin: 0px;}
      #jobs .licensed-ctgy{padding-top: 15px;}
      #jobs .aviation-technical{padding: 30px 0px 0px 0px;}
      #jobs .about-bottom{font-size: 16px;}
      #jobs .top-big{margin-bottom: 20px;}
      #jobs .content-title, .aviation-head h2{font-size: 28px;}
      #jobs .online-training{padding: 25px 0px;}
      .about_section h2.title2{padding-top: 0px;}
      .abouts_page .aviation-technical{padding: 20px 0px 0px;}
      .abouts_page .about-bottom{font-size: 16px;}
      .about_section .find-more{margin-bottom: 20px;}
      .client_area_page h2.title3{margin-top: 0px;font-size: 32px;}
      .client_area_page .online-category-1{margin-top: 50px;}
      .client_area_page .aviation-technical{padding: 30px 0px 0px;}
      .client_area_page .client-content h3{font-size: 28px;}
      .client_area_page .about-bottom{font-size: 18px;}
      .contact_us_page h2.title3{margin-top: 0px;font-size: 28px;}
      .contact_us_page .aviation-technical{padding: 30px 7px 7px;}
      .contact_us_page .top-big{font-size: 18px;margin: 15px 0;}
      #homepage h2.title2{font-size: 26px;margin-bottom: 20px;}
      #homepage .about-bottom{font-size: 18px;}
      #homepage .news_section h2.title2{margin-bottom: 0px;margin-top: 30px;}
      #homepage .latest-news{padding: 0px;}
      #homepage .candidates_section{margin-top: 10px;}
      #homepage .licensed_content h4{font-size: 19px;}
      #homepage .licensed_content{padding: 20px 20px;}
      #homepage .aviation-technical{padding: 20px 0px 0px;}
      #homepage .candidate_top{height: 160px;}
      #homepage .find-more{margin: 30px 0px;}
      .services_page h2.title3{margin-top: 0px;font-size: 22px;}
      .services_page .top-big{font-size: 18px;}
      .services_page .about-bottom{font-size: 16px;}
      .services_page .title_1{font-size: 18px;}
      .services_page .online-category-1{margin-top: 50px;}
      .services_page .find-more_1{margin: 50px 0px 30px;}
      .services_page .aviation-technical{padding: 30px 0px 0px;}
      .training_page .training_main .top-big{font-size: 20px;margin: 0 auto 30px;line-height: 25px;}   
      .training_page .online-approve{margin-top: 0px;}
      .training_page .training-categories h3{font-size: 18px;}
      .page_title h1{font-size: 40px;}
      .training_page .online-training.training_main{padding: 30px 0px;}
      #homepage .news_section .latest-content{margin-top: 30px;margin-bottom: 30px;}
      .client-candidates.client-area-page{margin-top: 30px;}
      .training_page .special_offer{margin: 35px auto 0;}
      
    }


/*news page css start*/

  .news_section .latest-content{ margin-top: 50px;}
  .news_section .latest-news-posts > div:nth-child(4n+1){ clear: both;}
   .news_section h2.title2{text-align: center; text-transform: capitalize; margin-bottom: 60px;}
  .news_section{padding-bottom: 30px;}

  @media (max-width:991px){
 .news_section .latest-news-posts > div:nth-child(4n+1){ clear: none;}
 
  }
  @media (max-width:768px){
    .news_section .latest-content{min-height: auto; margin-bottom: 60px;}
      .news_section .latest-news-posts > div:nth-child(3n+1){ clear: both;}
  }

/*news page css end*/


/*training page css start*/

    .online-training.training_main {
        background-image: url(images/training-bg.png);
        padding: 70px 0px;
        text-align: center;
        background-size: cover;
    }
    .training_main .top-big{ text-align: center; font-size: 34px; text-transform: uppercase; color: #423f9f; max-width: 750px; margin:0 auto  60px; line-height: 35px;}
    .online-category_inr{max-width: 1000px; margin: 0 auto;}

    .special_offer{max-width: 1040px; width: 100%; background: #fff; margin: 50px auto 0;  border: 1px solid #ccc; display: inline-block;}
    .special_offer > div {padding: 0px;}
    .offer_list{width: calc(100% - 25px); float: left; padding-top: 10px;}
    .special_offer_title{height: 100%; background: #1e3d6d; color: #fff; font-size: 12px; text-transform: uppercase;font-family: 'Conv_Roboto-Bold';}
    .offer_list_inr{display: inline-flex; width: 100%; text-align: left; }
    .offer_list_inr label{font-size: 26px; width: 100%; font-weight: normal; white-space: nowrap; padding-top: 5px; color: #6d6d6b;}
    .offer_list_inr span{font-size: 36px; font-weight: normal; white-space: nowrap;}
    .offer_list_inr span.price_2{color:#ff3128; font-weight: bold; }
    .offer_list_inr span.price_1{color:#6d6d6b;}
    .offer_right label{font-size: 24px; position: relative; top: 3px; font-weight: normal; text-transform: uppercase; }

    .offer_right a.find-more{font-size: 16px; margin-left: 20px; margin-top: 45px;}
    .offer_right a.find-more::before, .offer_right a.find-more::after{border-width: 31px 10px 0 0;}
    @media (max-width: 992px){

        .offer_list_inr label{font-size: 18px;}
        .offer_list_inr span{font-size: 24px;}
        .offer_right a.find-more {
            font-size: 14px;
            margin-left: 20px;
            margin-top: 26px;
        }
        .offer_right label{font-size: 16px;}
        .special_offer img{width: 15px;}
    .offer_right a.find-more::before, .offer_right a.find-more::after{border-width: 28px 10px 0 0;}
    }
    @media (max-width: 768px){
        .special_offer img{width: 25px;}
        .offer_list_inr{width: 300px;}
        .offer_right a.find-more{margin-top: 15px;}
    }
    @media (max-width:520px){
        .special_offer img{width: 25px;}
        .offer_list_inr{width: 230px;}
        .offer_right a.find-more{margin-top: 15px;}
        .offer_right a.find-more {
                margin-top: 0;
                margin-bottom: 6px;
                margin-left: 0px;
            }
        .offer_list_inr label{font-size: 16px;}
        .offer_list_inr span{font-size: 20px;}
        .offer_right label {
                font-size: 14px;
                width: 89%;
            }
    }

/*training page css end*/















/* Responsive view */
@media screen and (max-width: 1280px)
{
	.header_menu::before {left: -35px;border-width: 0px 35px 93px 0;}
	.header_menu::after {right: -35px;border-width: 93px 35px 0px 0;}
}
@media screen and (max-width: 1199px)
{
	.navbar-nav a{font-size: 14px;}
	.header-image-logo img {width: 200px;}
	.navbar-default .navbar-nav > li > a{padding: 31px 13px 21px;}
	.header_menu::before {left: -25px;border-width: 0px 25px 73px 0;}
	.header_menu::after {right: -25px;border-width: 73px 25px 0px 0;}
	.aviation-logo-text span {line-height: 34px;font-size: 34px;}
	.aviation-logo-text + span {font-size: 12px;letter-spacing: 3px;}
	.submit-cv-form h3, .latest-news-title h3{font-size: 24px;}
	.candidates .client-content{margin-left: 100px;}
	.latest-news .container{padding-right: 15px;padding-left: 15px;}
	.player-display{width: 75%;}
	.video-list{width: 25%;}
  .client-area-page .submit-cv-form label, .client-area-page .submit-cv-form input, .submit-cv-form textarea {width: 100%;}
  .bg_img, .bg_img img {min-height: 281px;}
  .input-group.jobs-upload {width: 100% !important;}
  .jobs-upload .input-group-btn {width: auto !important;}
  .jobs-upload .form-contols {width: calc(100% - 102px) !important;-webkit-width: calc(100% - 102px) !important;-moz-width: calc(100% - 102px) !important;}
}
@media screen and (max-width: 991px){
	.navbar-default .navbar-nav > li > a {padding: 20px 8px 20px;font-size: 12px;}
	.header-image-logo img {width: 140px;}
	.header_menu::before {left: -20px;border-width: 0px 20px 63px 0;}
	.header_menu::after {right: -20px;border-width: 63px 20px 0px 0;}
	.head-contact {font-size: 14px;}
	.head-contact i {font-size: 22px;}
	.no-left-padd{padding-left: 0px;}
	.latest-content{min-height: 450px;margin-bottom: 15px;}
	.candidates .client-content {margin-left: 50px;}
	.home-header-content , .aviation-content, .online-approve{width: 80%;}
	.training-categories {margin-bottom: 30px;}
	.display-content > p {font-size: 24px;}
	.display-head {font-size: 40px;}
	.player-display {width: 70%;}
	.video-list {width: 30%;}
	.video-lists {height: 400px;}
  .online-category-1 .aria-content {width: 33.333%;margin-bottom: 30px;}
   .client-area-page .client-content {width: 85%;}
}
@media screen and (max-width: 767px){
  /* ronald hunt*/
  h2.title3{margin-top: 50px;}
  /* end ronald hunt*/
  .same-height{height: auto !important;}
	.header_menu{padding-top: 30px;}
	.header-bottom .row {margin: 0px;}
	.header_menu::before, .header_menu::after {display:none;}
	.header_menu .navbar-nav{margin: 0px;}
	.navbar-default .navbar-nav > li > a{border-bottom: 1px solid #2e334b;padding: 15px 8px 15px;}
	.header-image-logo{display: none;}
	.content-header header .container {padding: 0px;}
	#bs-example-navbar-collapse-1 {position: absolute;width: 100%;z-index: 1;}
	.client-area .client-content, .candidates .client-content{margin-top: 60px;}
  .client-area-page .client-area .client-content{margin-bottom: 60px; }
	.home-header-content, .aviation-content, .online-approve {width: 100%;padding-left: 10px;padding-right: 10px;box-sizing: border-box;}
	.header_title {font-size: 62px;line-height: 62px;margin-top: 60px;}
	.head_description {font-size: 18px;margin-top: 100px;}
	.find-more {margin: 50px 0px 70px;}
	.top-big {font-size: 18px;margin-top: 15px;margin-bottom: 30px;}
	.aviation-bottom {font-size: 16px;}
	.aviation-technical , .latest-news{padding: 50px 0px 60px;}
	.online-training {padding: 50px 0px;}
	.content-title , .aviation-head h2 {font-size: 30px;}
	.online-approve {font-size: 18px;margin-top: 20px;}
	.online-training .find-more {margin-top: 40px;}
	.client-content .find-more {margin-top: 30px;margin-bottom: 55px;}
	.client-candidates-types .same-height {float: left;width: 100%;display: block;text-align: center;}
	.client-candidates-types .client-content {margin-left: 0px;margin-right: 0px;float: none;display: inline-block;}
	.latest-content{text-align: center;}
	/*.latest-content img {width: 100%;}*/
	.latest-content, .latest-news-title h3{margin-bottom: 30px;}
	.submit-cv-form form {margin-top: 30px;}
	.social-footer {float: none;display: inline-block;}
	.copyright-text {width: 100%;}
	footer {text-align: center;}
	.navbar-default .navbar-nav > li > a{font-size: 14px;}
	.navbar-default .navbar-toggle {background-color: #2e334b;top: -15px;z-index: 1;}
	.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: #494f6b;}
	.logo-content-inner {background-color: #40436b;padding: 15px 10px 15px;}
	.player-display , .video-list{width: 100%}
	.video-list{height: 460px !important;margin-top: 20px;}
	.aviation-logo-text span{letter-spacing: 3px;}
	.aviation-logo-text span:nth-child(2){margin: 0px 5px;}
  .client-area-page .submit-cv-form {max-width: 100%;}
  .client-area-page .submit-cv-form label, .client-area-page .submit-cv-form input, .submit-cv-form textarea {text-align: left;}
  .client-area-page .client-content {width: 100%;}
  .bg_img img {min-height: 220px;}
}
@media screen and (min-width: 768px){
	.modal-dialog {width: 690px;}
}
@media(max-width:640px){
.signup_inr .signup_inr_left, .signup_inr .signup_inr_right{width: 100%; padding: 0 15px;}
.signup_inr .signup_inr_left{text-align: left;}
.signup_inr .signup_inr_right input, .signup_inr .signup_inr_right select{width:100%; }
.border_top{margin: 30px 0;}
.signup_action{padding-left: 15px;}
.online-category-1 .aria-content {width: 100%;}
}
@media screen and (max-width: 599px){
	.display-content > p {margin-top: 20px;margin-bottom: 20px;}
	.display-head {margin-top: 20px;}
	.display-content-outer {background-size: 100% 100%;}
	/*.video-lists {height: 345px;}*/
	.loginmodal-popup{width: 100%;}
}
@media screen and (max-width: 480px){
	.header_title {font-size: 38px;line-height: 42px;}
	.head_description{margin-top: 60px;}
	.latest-content {min-height: auto;}
	.aviation-head h2 {font-size: 22px;}
	.latest-content h3{font-size: 18px;}
	.display-content > p {font-size: 15px;}
	.display-head {font-size: 24px;}
	.modal-text span, .modal-form input{width: 100%;}
	.modal-social.social-footer{float: none;margin-top: 10px;}
	.modal-text{text-align: center;}
	.modal-form .button{margin-bottom: 20px;}
}